--
-- PostgreSQL database dump
--

\restrict uqpZOc5Qunf9EnbFEh2irS7YYXQt3tLMv6biUe69xxEKCJlbengINTbfsj0QgZm

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alerts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.alerts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    pc_agent_id uuid NOT NULL,
    triggered_at timestamp with time zone DEFAULT now() NOT NULL,
    alert_type character varying(100) NOT NULL
);


--
-- Name: auth_otps; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_otps (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    phone_number character varying(20) NOT NULL,
    purpose character varying(30) NOT NULL,
    otp_hash text NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    attempt_count integer DEFAULT 0 NOT NULL,
    max_attempts integer DEFAULT 5 NOT NULL,
    used_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT auth_otps_attempt_count_check CHECK ((attempt_count >= 0)),
    CONSTRAINT auth_otps_max_attempts_check CHECK ((max_attempts > 0)),
    CONSTRAINT auth_otps_purpose_check CHECK (((purpose)::text = 'register'::text))
);


--
-- Name: goose_db_version; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.goose_db_version (
    id integer NOT NULL,
    version_id bigint NOT NULL,
    is_applied boolean NOT NULL,
    tstamp timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: goose_db_version_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.goose_db_version ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.goose_db_version_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mobile_devices; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.mobile_devices (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    fcm_token text NOT NULL,
    platform character varying(50) NOT NULL
);


--
-- Name: pairing_sessions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pairing_sessions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    device_code character varying(20) NOT NULL,
    device_name character varying(255) NOT NULL,
    os_type character varying(50) NOT NULL,
    status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    confirmed_by_user_id uuid,
    pc_agent_id uuid,
    confirmed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    requested_pc_agent_id uuid,
    CONSTRAINT chk_pairing_sessions_status CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'confirmed'::character varying, 'expired'::character varying, 'cancelled'::character varying])::text[])))
);


--
-- Name: pc_agents; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pc_agents (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    device_name character varying(255) NOT NULL,
    os_type character varying(50) NOT NULL,
    agent_status character varying(20) DEFAULT 'offline'::character varying NOT NULL,
    protection_status character varying(20) DEFAULT 'disabled'::character varying NOT NULL,
    last_seen_at timestamp with time zone,
    agent_secret_hash text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT pc_agents_agent_status_check CHECK (((agent_status)::text = ANY ((ARRAY['online'::character varying, 'offline'::character varying])::text[]))),
    CONSTRAINT pc_agents_protection_status_check CHECK (((protection_status)::text = ANY ((ARRAY['enabled'::character varying, 'disabled'::character varying])::text[])))
);


--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.refresh_tokens (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    token_hash text NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    revoked_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(255),
    phone_number character varying(20) NOT NULL,
    full_name character varying(255) NOT NULL,
    password_hash text NOT NULL,
    last_login_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: alerts alerts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_pkey PRIMARY KEY (id);


--
-- Name: auth_otps auth_otps_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_otps
    ADD CONSTRAINT auth_otps_pkey PRIMARY KEY (id);


--
-- Name: goose_db_version goose_db_version_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.goose_db_version
    ADD CONSTRAINT goose_db_version_pkey PRIMARY KEY (id);


--
-- Name: mobile_devices mobile_devices_fcm_token_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mobile_devices
    ADD CONSTRAINT mobile_devices_fcm_token_key UNIQUE (fcm_token);


--
-- Name: mobile_devices mobile_devices_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mobile_devices
    ADD CONSTRAINT mobile_devices_pkey PRIMARY KEY (id);


--
-- Name: pairing_sessions pairing_sessions_device_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pairing_sessions
    ADD CONSTRAINT pairing_sessions_device_code_key UNIQUE (device_code);


--
-- Name: pairing_sessions pairing_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pairing_sessions
    ADD CONSTRAINT pairing_sessions_pkey PRIMARY KEY (id);


--
-- Name: pc_agents pc_agents_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pc_agents
    ADD CONSTRAINT pc_agents_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_token_hash_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_token_hash_key UNIQUE (token_hash);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_phone_number_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_phone_number_key UNIQUE (phone_number);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_alerts_pc_agent_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_alerts_pc_agent_id ON public.alerts USING btree (pc_agent_id);


--
-- Name: idx_alerts_triggered_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_alerts_triggered_at ON public.alerts USING btree (triggered_at);


--
-- Name: idx_auth_otps_expires_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_auth_otps_expires_at ON public.auth_otps USING btree (expires_at);


--
-- Name: idx_auth_otps_phone_purpose_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_auth_otps_phone_purpose_created_at ON public.auth_otps USING btree (phone_number, purpose, created_at DESC);


--
-- Name: idx_mobile_devices_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_mobile_devices_user_id ON public.mobile_devices USING btree (user_id);


--
-- Name: idx_pairing_sessions_confirmed_by_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pairing_sessions_confirmed_by_user_id ON public.pairing_sessions USING btree (confirmed_by_user_id);


--
-- Name: idx_pairing_sessions_device_code; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pairing_sessions_device_code ON public.pairing_sessions USING btree (device_code);


--
-- Name: idx_pairing_sessions_expires_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pairing_sessions_expires_at ON public.pairing_sessions USING btree (expires_at);


--
-- Name: idx_pairing_sessions_pc_agent_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pairing_sessions_pc_agent_id ON public.pairing_sessions USING btree (pc_agent_id);


--
-- Name: idx_pairing_sessions_requested_pc_agent_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pairing_sessions_requested_pc_agent_id ON public.pairing_sessions USING btree (requested_pc_agent_id);


--
-- Name: idx_pairing_sessions_requested_pc_agent_id_unique; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_pairing_sessions_requested_pc_agent_id_unique ON public.pairing_sessions USING btree (requested_pc_agent_id) WHERE (requested_pc_agent_id IS NOT NULL);


--
-- Name: idx_pairing_sessions_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pairing_sessions_status ON public.pairing_sessions USING btree (status);


--
-- Name: idx_pc_agents_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pc_agents_user_id ON public.pc_agents USING btree (user_id);


--
-- Name: idx_refresh_tokens_expires_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_refresh_tokens_expires_at ON public.refresh_tokens USING btree (expires_at);


--
-- Name: idx_refresh_tokens_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_refresh_tokens_user_id ON public.refresh_tokens USING btree (user_id);


--
-- Name: alerts alerts_pc_agent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_pc_agent_id_fkey FOREIGN KEY (pc_agent_id) REFERENCES public.pc_agents(id) ON DELETE CASCADE;


--
-- Name: pairing_sessions fk_pairing_sessions_confirmed_user; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pairing_sessions
    ADD CONSTRAINT fk_pairing_sessions_confirmed_user FOREIGN KEY (confirmed_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: pairing_sessions fk_pairing_sessions_pc_agent; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pairing_sessions
    ADD CONSTRAINT fk_pairing_sessions_pc_agent FOREIGN KEY (pc_agent_id) REFERENCES public.pc_agents(id) ON DELETE SET NULL;


--
-- Name: mobile_devices mobile_devices_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mobile_devices
    ADD CONSTRAINT mobile_devices_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: pc_agents pc_agents_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pc_agents
    ADD CONSTRAINT pc_agents_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: refresh_tokens refresh_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict uqpZOc5Qunf9EnbFEh2irS7YYXQt3tLMv6biUe69xxEKCJlbengINTbfsj0QgZm

